<footer
  class="w-full hstack justify-between font-ui text-sm"
  m="x-auto t-20"
  max-w="[720px] lg:[810px]"
>
  <span text-fg-light>
    <span>© hyh 2023</span>
    <span lt-sm:hidden id="WebTime"></span>
  </span>

  <span hstack gap-x-3>
    <a
      href="https://github.com/hyh-cool/hyh-cool.github.io"
      aria-label="Source code"
      target="_blank"
      rel="noopener noreferrer"
      nav-item
    >
      <div i-lucide:code-2></div>
      <span lt-sm:hidden>Code</span>
    </a>
    <a
      href="/rss.xml"
      aria-label="RSS"
      target="_blank"
      rel="noopener noreferrer"
      nav-item
    >
      <div i-heroicons:rss-20-solid></div>
      <span lt-sm:hidden>RSS</span>
    </a>
    <a
      href="/sitemap-index.xml"
      aria-label="Sitemap"
      target="_blank"
      rel="noopener noreferrer"
      nav-item
    >
      <div i-bx:map-alt></div>
      <span lt-sm:hidden>Sitemap</span>
    </a>
  </span>
</footer>

<style scoped>
  .footer-item {
    @apply hstack space-x-1 text-c-lighter hover:text-c-light;
  }
</style>
<script type="text/javascript">
  function runtime(){
      // 初始时间，日/月/年 时:分:秒
      X = new Date("3/1/2023 0:00:00");
      Y = new Date();
      T = (Y.getTime()-X.getTime());
      M = 24*60*60*1000;
      a = T/M;
      A = Math.floor(a);
      b = (a-A)*24;
      B = Math.floor(b);
      c = (b-B)*60;
      C = Math.floor((b-B)*60);
      D = Math.floor((c-C)*60);
      //信息写入到DIV中
      WebTime.innerHTML = "· 本站已安全运行: "+A+"天"+B+"小时"+C+"分"+D+"秒"
  }
  setInterval(runtime, 1000);
</script>